
<mat-grid-list cols="3" rowHeight="61px" gutterSize="5px" class="lc">
  <mat-grid-tile [rowspan]="1" [colspan]="3">
      <mat-label>QR-код</mat-label>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="4" [colspan]="3"><img mat-grid-image *ngIf="this.someS.QR != '' "  [src]="thumbnail"  (error)="qr()" (load)="qr()"> <mat-spinner *ngIf="this.someS.QR == ''" ></mat-spinner> </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input" hideRequiredMarker>
      <mat-label>Диагноз</mat-label>
      <input matInput [(ngModel)]="this.someS.actualdiagnoz">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1"></mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input" hideRequiredMarker>
      <mat-label>Статус</mat-label>
      <input matInput [(ngModel)]="this.someS.actualstatus">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input" hideRequiredMarker>
      <mat-label>Врач</mat-label>
      <input matInput [(ngModel)]="this.someS.fio">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input" hideRequiredMarker>
      <mat-label>Выписан</mat-label>
      <input matInput [(ngModel)]="this.someS.actualdatef">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input" hideRequiredMarker>
      <mat-label>Дейсвует дней</mat-label>
      <input matInput [(ngModel)]="this.someS.actualsrok">
    </mat-form-field>
  </mat-grid-tile>

  <!-- <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input">
      <mat-label>Фамилия</mat-label>
      <input matInput [(ngModel)]="sname"> 
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input">
      <mat-label>Имя</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <mat-form-field class="input">
      <mat-label>Отчество</mat-label>
      <input matInput [(ngModel)]="secname">
    </mat-form-field>
  </mat-grid-tile> -->
  <mat-grid-tile [rowspan]="1" [colspan]="3">
    <mat-label>Выписанные средсва:</mat-label> 
</mat-grid-tile>
</mat-grid-list>
<app-lecarstvo></app-lecarstvo>
<!-- <mat-form-field class="textarea" >
  <mat-label>Выписаные средсва:</mat-label> -->
  <!-- Здесь форма лекарство -->
  <!-- <textarea matInput  [(ngModel)]="desc"></textarea>
</mat-form-field> -->

<mat-grid-list cols="3" rowHeight="61px" gutterSize="5px" class="lc2"s>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <button mat-flat-button color="primary" (click)="downloadPDF()" *ngIf="this.someS.actualstatus == 'активен' ">Скачать PDF</button>
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
  </mat-grid-tile>
  <mat-grid-tile [rowspan]="1" [colspan]="1">
    <button mat-flat-button color="primary" (click)="createRec()" *ngIf="this.someS.actualstatus == 'активен' ">Завершить</button>
  </mat-grid-tile>
</mat-grid-list>
