.recCard1
{
  max-width: 80%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.recCard2
{
  max-width: 80%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.cardbut{
  width:100%;


}
