.sidenav-container {
  height: 100%;
}

.sidenav {
  /* top: 65px; */
  width: 80%;
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.mat-form-field {
  margin-top: 20%;
}
.loadbtn {
  margin-right: 5%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.filtertoolbar{
  justify-content: space-between;
}
.filtertoolbar1{
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.filtertoolbar2{
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}
.mat-radio-button{
  margin-left: 16px;
}
.footerbar{
  background-color: #fafafa;
}